@using System.Net.Http;
@using System.Net.Http.Json;
@using Wayfinder.Shared.Libraries;
@using Wayfinder.Shared.Data;
@using Wayfinder.Shared.Data.Entries.Descriptor;
@using Wayfinder.Shared.Data.Entries.Descriptor.DescriptorDataTypes;
@using Wayfinder.Client.Data;
@using Wayfinder.Client.Components.Standard;
@using Wayfinder.Client.Components.Application.Editors.DescriptorData;
@using Wayfinder.Client.Components.Application.Pickers;


@typeparam TimelineDataType;



<div component-name="TimelineDisplay" class="basic timeline-component-container">
    <div>
        @this.AddedHeadButtonsPre

        @if( this.ConditionWindows is not null ) {
            <ToggleSwitch Label="Show Condition WIndows"
                          IsOn=@this.ShowConditions
                          IsOnChanged=@(async b => this.ShowConditions = b) />
        }

        <button @onclick=@(e => this.ScrollLeft_UI())>
            Remove Conditional Filtering
        </button>

        <button @onclick=@(e => this.ScrollLeft_UI())>
            &larr;
        </button>
        <button @onclick=@(e => this.ScrollRight_UI())>
            &rarr;
        </button>
        <button @onclick=@(e => this.Zoom_UI(this.ZoomScale * 0.5d))>
            +
        </button>
        <button @onclick=@(e => this.Zoom_UI(this.ZoomScale * 2d))>
            -
        </button>
    </div>
    
    <div class="timeline-component" style="max-width: @(MaxElementWidth)px;"
             @onmousedown=@(async (e) => await this.OnMouseDown_UI_Async(e))
             @onmouseup=@(async (e) => await this.OnMouseUp_UI_Async(e))
             @onmouseleave=@(async (e) => await this.OnMouseUp_UI_Async(e))>
        @if( this.CanDisplayMinuteMarkers() ) {
            @foreach( (int x, string label) in this.GetTimeUnitMinuteMarkers(MaxElementWidth) ) {
                <div class="timeline-unit timeline-unit-minute" style="left: @(x)px;">
                    @label
                </div>
            }
        }
        @if( this.CanDisplayHourMarkers() ) {
            @foreach( (int x, string label) in this.GetTimeUnitHourMarkers(MaxElementWidth) ) {
                <div class="timeline-unit timeline-unit-hour" style="left: @(x)px;">
                    @label
                </div>
            }
        }
        @if( this.CanDisplayDayMarkers() ) {
            @foreach( (int x, string label) in this.GetTimeUnitDayMarkers(MaxElementWidth) ) {
                <div class="timeline-unit timeline-unit-day" style="left: @(x)px;">
                    @label
                </div>
            }
        }
        @if( this.CanDisplayMonthMarkers() ) {
            @foreach( (int x, string label) in this.GetTimeUnitMonthMarkers(MaxElementWidth) ) {
                <div class="timeline-unit timeline-unit-month" style="left: @(x)px;">
                    @label
                </div>
            }
        }
        @if( this.CanDisplayYearMarkers() ) {
            @foreach( (int x, string label) in this.GetTimeUnitYearMarkers(MaxElementWidth) ) {
                <div class="timeline-unit timeline-unit-year" style="left: @(x)px;">
                    @label
                </div>
            }
        }
        
        @foreach( TimelineEvent<TimelineDataType> schedEvent in this.GetVisibleScheduleEvents() ) {
            <div class="timeline-seg"
                 style= "left: @(this.ComputeSegOffset(schedEvent.StartTime))px;
                         width: @(this.ComputeSegWidth(schedEvent.StartTime, schedEvent.EndTime))px;">
            </div>
        }
        
        @if( this.ConditionWindows is not null ) {
            @foreach( TimelineEvent<object> condWindow in this.ConditionWindows.Events ) {
                <div class="timeline-cond-seg"
                     style= "left: @(this.ComputeSegOffset(condWindow.StartTime))px;
                             width: @(this.ComputeSegWidth(condWindow.StartTime, condWindow.EndTime))px;">
                </div>
            }
        }
    </div>

    @this.Footer
</div>

